
<!DOCTYPE html>
<html xml:lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <meta property="qc:admins" content="251143032761465645166375"/>
    <title>{% block page_title %}玩转K线{% end %}</title>
    <script type="text/javascript" src="{{ static_url('js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/k_line_js.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/my_socket.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('plupload/js/plupload.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('kindeditor-4.1.10/kindeditor-min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('kindeditor-4.1.10/lang/zh_CN.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/k_line_css.css') }}"/>

    {% block bootstrap %}
    {% end %}
    {% block other_head %}
    {% end %}
    {% block other_css %}
    {% end %}
    {% block other_js %}
    {% end %}

</head>
<body>

{% block script %}
{% end %}

{% block style %}
{% end %}

{% block banner %}
{% end %}

{% block header %}
{% end %}

{% block content %}
{% end %}

{% block footer %}
{% end %}


</body>
</html>

