{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div style="position: fixed; width: 100%; z-index: 1000; background: #fff;">
    <div class="mbProjectMoreTitle">
        <a href="/mobile/home" class="mbPrMoreBackBtn"></a>
        安全设置

    </div>
</div>
<div class="nbig_box anquan" style="padding-top: 40px;">
    <div class="pro_nav">
        <div class="box1 ">
            <p><a href="mb_shejiaomp">社交名片</a></p>
        </div>
        <div class="box2">
            <p><a href="mb_gerenjianli">个人简历</a></p>
        </div>
        <div class="box3 onclik">
            <p><a href="mb_anquanshezhi">安全设置</a></p>
        </div>
        <div class="box4">
            <p><a href="mb_zijinzhanghu">账户资金</a></p>
        </div>
    </div>

    <div class="options">
        <a href="mb_anquanshezhi_delumima" class="my_Project">
            <span class="my_Projecta">登录密码</span>
            <span class="right_arrow"></span>
        </a>
        <a href="mb_anquanshezhi_shouji" class="my_Project">
            <span class="my_Projecta">手机认证</span>
            <span class="right_arrow"></span>
        </a>
        <a href="mb_anquanshezhi_youxiang" class="my_Project">
            <span class="my_Projecta">邮箱认证</span>
            <span class="right_arrow"></span>
        </a>
        <a href="mb_anquanshezhi_zhifemima" class="my_Project">
            <span class="my_Projecta">支付密码</span>
            <span class="right_arrow"></span>
        </a>

        <a href="mb_anquanshezhi_shimingrenzheng" class="my_Project my_guanzhu">
            <span class="my_Projecta">实名认证</span>
            <span class="right_arrow"></span>
        </a>

    </div>


</div><!--nbig_box-->
{% end %}

{% block footer %}
{% end %}

