{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div style="position: fixed; width: 100%; z-index: 1000; background: #fff;">
    <div class="mbProjectMoreTitle">
        <a href="/mobile/home" class="mbPrMoreBackBtn"></a>
        创业园

    </div>
</div>
<div class="nbig_box" style="padding-top: 40px;">
    <div class="pro_nav chaungyeyuan">
        <div class="box1 onclik">
            <p><a href="/mb_chuangyeyuan">发布的创业园</a></p>
        </div>

        <div class="box4">
            <p><a href="/mb_shenqingrufu">申请入孵的创业园</a></p>
        </div>
    </div>
    {% if user_parks.count()>0 %}
    {% for p in user_parks %}
    {% set park_info=apply_park(p['id']) %}
    <div class="pro_pro ace_ace">
        <div class="ace_cen">
            {% if p.get('basic',{}).get('default','')=='0' or p.get('basic',{}).get('default','')=='1' or p.get('basic',{}).get('default','')=='2' %}
            {% set default = p.get('basic',{}).get('default','') %}
            {% set first_image= p.get('basic',{}).get('image',{})[int(default)]['name'] %}
            {% else %}
            {% set first_image= p.get('basic',{}).get('image',{})[0]['name'] %}
            {% end %}
            <img src="../static/media/park_img/{{ first_image }}"
                 onerror="javascript:this.src='{{ static_url('img/error.png') }}';"
                 onclick="javascript:window.location.href='/mb_cyy_xiangqing/{{ p['id'] }}'">

            <div class="pro_text chaugyeyuan_text">
                <p class="ace_ace_biao">
                    {% set name=str(p.get('basic').get('name')) %}
                    {% if len(name)>10 %}
                    {{ name }}
                    {% else %}
                    {{ name[:10] }}...
                    {% end %}
                </p>

                <div class="chaugyeyuan_biaoqian">
                    <span class="chaugyeyuan__bqin">
                        <p class="chaugyeyuan_cenicon"></p>
                        <p class="chaugyeyuan_dizhi">
                            {{ p.get("basic",{}).get("province","") }}省
                            {{ p.get("basic",{}).get("city","") }}市
                            {{ p.get("basic",{}).get("address","") }}
                        </p>
                    </span>
                    <span class="chaugyeyuan__bqiner">
                        <p class="chaugyeyuan_cenrcon"></p>
                        <p class="chaugyeyuan_date">{{ p.get("basic",{}).get("tel","") }}</p>
                    </span>
                </div>
                <!--pro_biaoqian-->
                {% set people_count=count(p['id']) %}
                <span class="chaugyeyuan_shenhe">
                    <a>加入人数：</a>
                    <a class="ace_shenhe_tong">{{ people_count }}人</a>
                </span>

            </div>
            <!--pro_text-->
        </div>

    </div>
    {% end %}
    {% else %}
    <br>
    暂无发布的创业园
    {% end %}
    <!--pro_pro-->

    <div class="ace_ace_fabu" onclick="window.location.href='mb_fabuchyylc_a'">
        +发布园区
    </div>


</div><!--nbig_box-->
{% end %}

