{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
            <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
            发布详情

        </div>
		<div class="nbig_box">
		   <div class="huodong_box">
		    <img src="../static/imges/cyy.png">
		   </div>
		   
		  <div class="class_title">
		  	<p>深圳南山智园</p>
		  	<p class="sm_jianjie">园区孵化器</p>
		  </div>
		  <div class=" cyy">
		  	<div class="cyy_touxiang">
			  	<span class="cyy_touxi_ren"></span>
			  	<span class="cyy_ziliao">
				  	<p class="cyy_name">maker</p>
				  	<p class="cyy_tell">12345678</p>
			  	</span>
		  	</div>
		  	
		  </div><!--huodong_touxi-->
		  <div class="cyy_jiben" >
		  	<span>
		  		<p>面积：2000m2</p>
		  		<p>水费：5元/吨</p>
		  	</span>
		  	<span>
		  		<p>物业费：60元/月</p>
		  		<p>电费：10元/度</p>
		  	</span>
		  	<span style="border-right:none;">
		  		<p>停车费：5元/月</p>
		  		<p>交通：无</p>
		  	</span>
		  </div>
		  <div class="class_avti">
		  	<div class="pingmi fapbmi">
		  		<span class="pingmi_icon"></span>
		  		<span class="pingmi_nab">20220㎡以上</span>
		  	</div>
		  	<div class="pmmo">
		  		<span class="pmmo_icon"></span>
		  		<span class="pmmo_nab">300/㎡</span>
		  	</span>
		  	</div>
		  	<div class="people bufou">
		  		<span class="people_icon"></span>
		  		<span class="people_nab">已报名人数<a>100000</a>人 </span>
		  	</span>
		  	
		  	</div>
		  </div><!--class_avti-->
		
		   <div class="cyy_jinbenziliao">
		   	   <div class="jibenxinxi_nav">
		   	   	<span id="jiben" class="bule">基本信息</span>
		   	   	<span id="xiangxi">详细信息</span>
		   	   	<span id="feiyong">费用及配套</span>
		   	   	<span id="youhui" style="border-right:1px solid #E5E5E5;">优惠及要求</span>
		   	   </div>
		   </div>
		   
		   <ul id="ji1" class="cyy_jibenhi">
		   	<li>园区名称：中科通产社区 </li>
		   	<li>所在地区:  广东省深圳市南山区 </li>
		   	<li>详细地址:  中科通产社区 </li>
		   	<li>联系方式:  13692162610</li>
		   </ul>
		   
		   <ul id="ji2" class="cyy_jibenhi">
		   	<li>园区概括:：中科通产社区 </li>
		   	<li>园区优势:  广东省深圳市南山区 </li>
		   	<li>入园条件:  中科通产社区 </li>
		 
		   </ul>
		   
		   <ul id="ji3" class="cyy_jibenhi">
		   	<li>可提供面积:2000平方米 租金：10元/m2 物业费：60元/月 基本租期:0  </li>
		   	<li>水费:元/吨 电费:元/度 停车费:元/天 网络设施:  </li>
		   	<li>付款方式: 物业管理： 层数： 3 标准层高：3 </li>
		   	<li>交通： 600074600074</li>
		   </ul>
		   
		   <ul id="ji4" class="cyy_jibenhi">
		   	<li>资金支持：无 </li>
		   	<li>税收优惠：无  </li>
		   	<li>其他服务：无 </li>
		   	<li>所在地要求：无 </li>
		   </ul>
		     <div class="class_maegin">
		   	
			<div class="class_time">
				<span class="class_timeicon"></span>
				<span class="class_timer">发布时间:2015-11-22</span>
			</div>
			<div class="class_dizhi">
				<span class="class_dizhiicon"></span>
				<span class="class_dizhier">深圳市南山区智园c2栋</span>
			</div>
		</div><!--class_maegin--> 	 
		  </div>
		  
		   <div class="baoming">
		   	<a>已发布</a>
		   </div>
		   
		   
		</div><!--big_class-->
		

		

	</div><!--big_class-->
{% end %}

{% block footer %}

{% end %}
