{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<style>
    .shuru{ width: 100%;}
    .shuru textarea{ display: block;  width: 100%;  height: 50px;  border: 1px solid #ccc;}
</style>
 <div class="mbProjectMoreTitle">
            <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
            迟到的大大
        </div>
		<div class="nbig_box">
         <div class="my_liaotian">        	
         		<img src="../static/imges/dada.png">
         		<span class="qipao">我先玩会斗地主，你去准备吧</span>
         </div><!--my_liaotian-->
         <div class="liantime">
         	<span>11-22 16:00</span>
         </div>
         <div class="liaotiaojilu">
         	<span>以上是聊天记录</span>
         </div>
         
         <div class="you_liaotian">        	
         		<img src="../static/imges/sanpang.png">
         		<span class="qipao">哥，要开会了，怎么还没到，我都做好装逼的样子了</span>
         </div><!--you_liaotian-->
         
         <div class="my_liaotian">        	
         		<img src="../static/imges/dada.png">
         		<span class="qipao">不好意思，我迟到了</span>
         </div><!--my_liaotian-->
        </div><!--big_class-->
        <div class="shuru">
            <textarea>1561515</textarea>
        </div>
{% end %}


