{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
            <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>


        </div>
		<div class="big_box">
			<div class="peo_xaingqing">
				<span class="xaingqing_box">
					<img src="../static/imges/dada.png">
				</span>
				<p class="peo_xaingqing_test">天下之事 不难于立法 而难于法之必行</p>
				
			</div>
			    <div class="peo_xaingqing_anniu">
					<a class="peo_sixin">私信</a>
					<a class="peo_guanzhu">关注</a>
				</div>
				
				<div class="peo_xaingqing_ho">
					<span id="yifabu" class="peo_blue">已发布的活动</span>
					<span id="yijieshu">已结束的活动</span>
				</div>
				<div class="peo_xaingqing_show">
					 <div class="pro_pro ace_ace">
			   	<div class="ace_cen">
			   		<img src="../static/imges/huodong.png">
			   		<div class="pro_text">
			   			<p class="ace_ace_biao">科技3D展</p>
			   			<div class="ace_biaoqian">
			   				<span class="pro_bqin">
			   					<p class="ace_cenicon"></p>
			   					<p>展览</p>
			   				</span>
			   				<span class="pro_bqiner">
			   					<p class="ace_cenrcon"></p>
			   					<p>2015-11-22</p>
			   				</span>
			   			</div><!--pro_biaoqian-->
			   			<span class="ace_shenhe">
			   				<a>状态：</a>
			   				<a class="ace_shenhe_tong">通过</a>
			   			</span>
			   			<div class="ace_baoming">
			   				<a>已报名人数：100人</a>
			   			</div>
			   		</div><!--pro_text-->
			   	</div>

		   </div><!--pro_pro-->
				</div>
				
				<div class="peo_xaingqing_hi">
					 <div class="pro_pro ace_ace">
			   	<div class="ace_cen">
			   		<a class="lianjie" href="/mb_yibaominghd">
                    <img src="../static/imges/huodong.png">
                    </a>
			   		<div class="pro_text">
			   			<p class="ace_ace_biao">科技3D展</p>
			   			<div class="ace_biaoqian">
			   				<span class="pro_bqin">
			   					<p class="ace_cenicon"></p>
			   					<p>展览</p>
			   				</span>
			   				<span class="pro_bqiner">
			   					<p class="ace_cenrcon"></p>
			   					<p>2015-11-22</p>
			   				</span>
			   			</div><!--pro_biaoqian-->
			   			<span class="ace_shenhe">
			   				<a>地点：深圳市南山智园</a>

			   			</span>
			   			<div class="ace_baoming">
			   				<a>已参与人数：</a><a>20人</a>
			   			</div>
			   		</div><!--pro_text-->
			   	</div>

		   </div><!--pro_pro-->
				</div>
			
			</div>
			
{% end %}
{% block footer %}

{% end %}