{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
            <a href="/mobile/home" class="mbPrMoreBackBtn"></a>
            消息中心

        </div>
		<div class="nbig_box">
		<div class="sixin_xitong">
        <span>
        	<p class="sixin_xitong_tongzhifang">通讯账号及时开通</p>
        </span>
        <span class="xixin_tongzhi_show">
        	<a class="sixin_xitong_fa">腾讯官网</a>
        	<a class="sixin_xitong_xai">详情</a>
        </span> 
        <span class="xixin_tongzhi_hi">
        	<a class="sixin_xitong_faa">
            <span>
            	发件人<p>：腾讯官网</p>
            	    <p>：wuzixian@qq.com</p>
            </span>
            <span>
            	收件人<p>：腾讯官网</p>
            	    <p>：wuzixian@qq.com</p>
            </span>
        	</a>
        	<a class="sixin_xitong_xais">隐藏</a>
        </span> 
         
         <p class="sixin_xitong_neir">
         您好：尊敬的warm先生，现在需要为你开通qq会员永久活动，请你收到邮件后，于我们的工作人员联系
         </p>
		</div>		
		</div>
{% end %}

