{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
     <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
 手机认证

        </div>
		<div class="nbig_box" >
			
		   <div class="xmliche_a">
		   	  <span class="xmwz_biao">
		   	  	<p>电话号码</p>
		   	    <input type="text" />
		   	  </span>
		   	  
		   	  <span class="xmwz_biao">
		   	  	<p>验证码</p>
		   	  	<input type="button" value="点击获取" />
		   	  </span>
		   	 
	
		   	  
		   	  	 <span class="xmwz_biao">
		   	  	<p>验证码填写</p>
		   	  	<input type="text" />
		   	  	
		   	  </span>
		   	  
		   	  
		
		   	  	
		   	 <div class="xiayibu xiayibuA">完成验证</div>
		   	 
		     
		   </div>
		   
		</div><!--nbig_box-->
		
		
{% end %}

{%block footer%}

{%end%}


