{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div style="position: fixed; width: 100%; z-index: 1000; background: #fff;">
<div class="mbProjectMoreTitle">
    <a href="/mobile/home" class="mbPrMoreBackBtn"></a>
    公开课

</div>
</div>

<div class="nbig_box" style="padding-top: 40px;">
    <div class="pro_nav">
        <div class="box1 ">
            <p><a href="mb_class_course">发布的课程</a></p>
        </div>

        <div class="box4 onclik">
            <p><a href="mb_yixuekece">已学习课程</a></p>
        </div>
    </div>
    {% if learned_course.count()>0 %}
    {% for v in learned_course %}
    {% set speaker=speaker_info(v.get("speaker")) %}
    <div class="hi_bigbox">
        <div class="pro_pro course_pro">
            <div class="pro_proer course_proer">
                {#                <img src="../static/imges/class_activity.png">#}
                <video class="vid" controls="controls">
                    {% if 'http'  not in   v.get('video_name') %}
                    {% set video_url='../../static/media/videos/'+v.get('video_name') %}
                    {% else %}
                    {% set video_url= v.get('video_name','') %}
                    {% end %}
                    <source src="{{ video_url }}" type="video/mp4">
                    <source src="http://7ktrca.com1.z0.glb.clouddn.com/exmax_s" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="pro_text course_txt">
                    <p class="course_txt_biao">{{ v.get("title","") }}</p>

                    <p class="course_zhujiang">主讲人：{{ speaker.get("name","未知") }}</p>

                    <p class="course_jianjie">简介：{{ v['desc'][0:20] }}</p>

                    <div class="pro_biaoqian course_text">
			   				<span class="pro_bqin">
			   					<p class="course_bqinicon"></p>
			   					<p>{{ v.get("visit","0") }}</p>
			   				</span>
			   				<span class="pro_bqiner">
			   					<p class="course_bqiniercon"></p>
			   					<p>创建于{{ v.get("time","") }}</p>
			   				</span>
                    </div>
                    <!--pro_biaoqian-->
                    <p class="xuexishijian">开始学习时间：{{ v.get("learntime","") }}</p>
                </div>
                <!--pro_text-->
            </div>
        </div>
        <!--pro_pro-->
    </div>
    {% end %}
    {% else %}
    <br>
    暂无已学习的视频
    {% end %}
    <!--hi_bigbox-->
</div><!--nbig_box-->
{% end %}

