{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div style="position: fixed; width: 100%; z-index: 1000; background: #fff;">
    <div class="mbProjectMoreTitle">
        <a href="/mobile/home" class="mbPrMoreBackBtn"></a>
        项目中心
    </div>
</div>
<div class="nbig_box" style="padding-top: 40px;">
    <div class="pro_nav">
        <div class="box1 ">
            <p><a href="/mobile/projectcenter">发布的项目</a></p>
        </div>
        <div class="box2">
            <p><a href="/mb_rengouximu">认购的项目</a></p>
        </div>
        <div class="box3">
            <p><a href="/mb_yitouxiangmu">已投简历项目</a></p>
        </div>
        <div class="box4 onclik">
            <p><a href="/mb_yaoqing">邀请入孵项目</a></p>
        </div>
    </div>

    {% if invite_settle_messages.count()>0 %}
    {% for m in invite_settle_messages %}
    {# TODO 同样的情况，有None记录 #}
    {% set p=project_info(m['content']['pid']) %}
    {% if p %}
    <div class="pro_pro ">
        <div class="pro_proer regouxiangmu">
            <img src="../static/media/project_img/{{ p.get('image') }}"
                 onerror="javascript:this.src='{{ static_url('img/error.png') }}';"
                 onclick="javascript:window.location.href='/mbProjectDetail?id={{ p['id'] }}'">

            <div class="pro_text">
                <p class="pro_textbiao">{{ p['name'] }}</p>

                <div class="pro_biaoqian">
			   				<span class="pro_bqin">
			   					<p class="pro_bqinicon"></p>
			   					<p>{{ ','.join(list(p['tag'])) }}</p>
			   				</span>
			   				<span class="pro_bqiner">
			   					<p class="pro_bqiniercon"></p>
			   					<p>广东深圳</p>
			   				</span>
                </div>
                <!--pro_biaoqian-->
                <div class="yaoqingrufu">
                    <p>简介：{{ p.get("brief","无") }}</p>

                </div>
            </div>
            <!--pro_text-->
        </div>

    </div>
    {% end %}
    {% else %}
    <br>
    暂无邀请入孵的项目
    {% end %}
    {% end %}
    <!--pro_pro-->

</div><!--nbig_box-->
{% end %}

