{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<style>
    .ideaSub2 {
        border-bottom: 1px dashed #a2a2a2;
        line-height: 25px;
        font-size: 0.8em;
        color: #a2a2a2;
        padding: 5px 0;
    }

    .ideaSub2 span {
        color: #00a0ea;
    }

    .ideaSub3 {
        margin: auto;
        border: 1px solid #cbcbcb;
        background: #F9F9F9;
        padding: 20px 10px;
        font-size: 1em;
    }

    .ideaSub31 {
        width: 100%;
        height: 140px;
        background: #000000;
    }

    .ideaSub32 {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .ideaSub321 {
        width: 100%;
    }

    .ideaSub323 {
        width: 100%;
        margin-top: 5px;
    }

    .ideaSub323 .unit-price, .left-piece, .requirePay {
        color: #00a0ea;
        display: inline-block;
    }

    .ideaSub324 {
        width: 100%;
        margin-top: 10px;
    }

    .ideaSub32412, .ideaSub32413 {
        margin: 0 5px;
        line-height: 25px;
        height: 30px;
        background: #00a0ea;
        color: white;
        font-size: 35px;
        width: 30px;
        text-align: center;
    }

    .ideaSub32411 {
        text-align: center;
        padding: 3px;
        width: 80px;
        border: none;
        background: #EEEEEE;
        font-size: 1em;
    }
</style>
<div class="mbProjectMoreTitle">
    <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
    项目认购信息

</div>
<div class="nbig_box">
    <form action="/subscribe_interest/success" method="post" name="subscribe_interest_form"
          id="subscribe_interest_form">
        {% module xsrf_form_html() %}
        <input id="project_id" type="hidden" name="project_id" value="{{ project['id'] }}">
        <input id="type" type="hidden" name="type" value="phone">

        <div class="yuyuerg">
            <ul>
                <li>
                    <div class="ideaSub2">
                        <span>风险告知：</span>
                        您好，为维护您的利益，请您认购前仔细阅读此条款，确认并知晓众筹股权（不保本金、不承诺投资回报）投资风险，并且能够完全理解投资初创公司可能会带来的风险，认购后您将不能更改投资人姓名，也不能代他人认购和转让他人，只能以您在双创学院
                        网平台上身份认证时提交的身份证号码为准进行投资合同文本签署和工商注册登记办理。 若认购后申请退出，需与项目方协商达成一致意见，并承担相应违约责任，创业孵化平台对此不承担责任。
                    </div>
                </li>
                <li>
                    <div class="ideaSub3">
                        <form>
                            <div class="ideaSub31"><img src=""></div>
                            <div class="ideaSub32">
                                <div class="ideaSub321">{{ project['name'] }}</div>
                                {% set total_require_amount=interest_plan['info']['total_amount'] %}
                                {% set unit_piece_price= total_require_amount*10000/interest_plan['info']['piece'] %}
                                {% set left_piece=interest_plan['info']['piece']-interest_plan.get('paid_piece',0) %}
                                <div class="ideaSub323">￥<span
                                        class="unit-price">{{ unit_piece_price }}</span>&nbsp;元/份</br>
                                    当前剩余份数：&nbsp;<span class="left-piece">{{ left_piece }}</span>&nbsp;份
                                </div>
                                <div class="ideaSub324">认购份数：</br>
                                  <span class="ideaSub3241">
                                    <a href="javascript:;" class="ideaSub32412">-</a>
                                    <input value="1" name="piece" class="ideaSub32411" style="width: 80px;">
                                    <a href="javascript:;" class="ideaSub32413">+</a>&nbsp;&nbsp;份
                                  </span>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </form>
                    </div>
                </li>
                <li>
                    <div class="ideaSub3">
                        <div class="ideaSub41">实付款：<span id="requirePay" class="requirePay">￥10000</span>元<br>
                            <label style="position: relative">
                                <input type="checkbox" id="readme" checked="checked" style="width: 20px;height: 20px;cursor: pointer;position: absolute;top: 0px;margin-right: 10px;">
                                &emsp;&emsp;我已阅读并同意
                            </label>
                            <a id="parkHatchBtn">《创业孵化平台风险揭示书》</a><br>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="yuyuerg_an">
                <a class="yuyuerg_tijiao">确认投资</a>

                <div style="clear: both;"></div>
            </div>
        </div>
    </form>
</div>

<div class="_alert" style="display: none;">
    <div class="parkHatchTitle" style="position: relative">
        <h1>创业孵化平台风险揭示书</h1>
        <a href="javascript:;" style="position: absolute;top:4px;right: 10px;font-size: 25px;" id="_cancel">×</a>
    </div>
    <div style="overflow-x: hidden;overflow-y: scroll;height: 90%;border-top: 1px solid #ededed;">

        <h2>重要提示：</h2>本网站（域名：【<b>http://www.vclution.cn</b>】）由深圳得瑟文化传媒有限公司负责运营(以下本网站均指网站及深圳得瑟文化传媒有限公司)。在您注册成为本网站用户前请务必仔细阅读以下条款，<b>您只要复选注册页面中的“我已阅读并同意《奇遇投资网站服务协议》和《奇遇投资隐私条款》”并按照本网站规定的注册程序成功注册为用户,您的行为既表示同意并签署了本服务协议，本协议立即生效。</b>您将有权依据本协议的条款接受本网站的服务，同时有义务接受本协议条款的约束。<br>

        <p>一、协议内容及签署</p><br>
        1、本协议内容包括本协议正文及本网站已经发布或将来可能发布的各类规则。所有规则为本协议不可分割的一部分,与本协议正文具有同等法律效力。<br>

        <p>2、本网站有权根据需要不时地制定、修改本协议及/或各类规则,并以网站公告的形式进行更新，不再单独通知予您。</p>
        变更后的协议和规则一经本网站公布后,立即自动生效。您应不时地注意本协议及附属规则地变更,如您不同意相关变更,应立即停止使用本网站服务。您继续使用本网站服务的，则表示您已经接受修改后的协议及各类规则。当您与本网站发生争议时，以最新的协议、规则为准。<br>
        3、本协议是由您与本网站共同签订的,适用于您在本网站的全部活动。在您注册成为本网站用户时,<b>您应已经阅读、理解并同意接受本协议的全部条款及各类规则,并承诺遵守中国现行的法律、法规、规章及其他政府规定,如有违反而导致任何法律后果的发生,您将以自己的名义独立承担所有相应的法律责任。</b><br>
        4、您承诺接受并遵守本协议约定。如您不同意本协议的约定，您应立即停止注册程序或停止使用本网站服务。<br>
        5、本服务协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。<br>

        <h2>二、注册与账户</h2><br>

        <p>1、注册者资格</p><br>
        您确认，在您完成注册程序或以其他本网站允许的方式实际使用本网站服务时，您应当是法律上具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用本网站服务，否则您及您的监护人应承担因此而导致的一切后果，且本网站有权注销或永久冻结您的账户，并向您及您的监护人索偿。<br>

        <p>2、注册账户</p><br>
        a）在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他本网站允许的方式实际使用本网站服务时，您即受本协议约束。<br>
        b）您了解并同意，如您系在本网站完成的注册程序，只要您注册成功，您即可以获得本网站登录名。您可以通过您的登录名直接登录本网站。您在此明确授权，您的账户注册信息在您通过本网站注册成功时，已授权本网站使用，以使您更便捷地使用本网站服务。<br>
        c）您可以对账户设置名称/昵称，但您设置的名称/昵称不得侵犯或涉嫌侵犯他人合法权益。如您设置的名称/昵称涉嫌侵犯他人合法权益的，本网站有权终止向您提供服务，并注销您的账户。账户被注销后，相应名/昵称将开放给其它有权用户注册使用。<br>
        d）除非有法律规定或司法裁定，或者符合本网站公布的条件，否则您的账户和密码不得以任何方式转让、赠与或继承，并且转让、赠与或继承需提供本网站要求的合格的文件材料并根据本网站制定的操作流程办理。<br>
        3、用户信息<br>
        a）在完成注册、激活流程或者注册成功后在本网站进行身份认证时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时、完整和准确。<b>如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，本网站有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部本网站服务。本网站对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。<br>
        b）您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本网站或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用本网站服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持提供的联系方式的有效性，如有变更或需要更新的，您应按本网站的要求进行操作。</b><br>
        4、账户安全<br>
        您须自行负责对您的网站登录名和密码的保密，且须对您的登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上签署各类协议等）承担责任。您同意：(a)
        如发现任何人未经授权使用您的登录名、昵称和密码，或发生违反保密规定的任何其他情况，您会立即通知本网站；及 (b)
        确保您在每个上网时段结束时，以正确步骤离开网站/服务。本网站不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解本网站对您的请求采取行动需要合理时间，本网站对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br>
        5、登录名注销<br>
        您同意并授权本网站，如您在本网站有欺诈、发布虚假权益相关信息、侵害他人合法权益或其他严重违反本网站任何规则的行为，本网站对此有权披露，您的网站登录名可能被注销，不能再登录本网站，所有本网站服务将同时终止。<br>

        <h2>三、本网站的平台服务</h2><br>
        1、本网站提供的网络服务的具体内容由本网站根据实际情况提供，例如：查询交易和服务信息、达成交易意向、进行交易、对其他用户进行评价、获取资讯、参加本网站组织的活动以及使用其它信息服务及技术服务。<br>
        2、本网站仅作为用户物色、提供项目信息展示，就交易进行协商，以及获取各类与项目相关的服务的地点。同时，本网站不涉及用户间因项目协商、交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。<br>
        3、虽然本网站努力尽心尽责对信息进行审核，但<b>您需了解并同意接受，本网站不能100%控制或保证权益信息的真实性、合法性、准确性，亦不能100%控制或保证项目所涉及的各权益的合法性和合理性，以及相关各方履行在相关协议项下的各项义务的能力。本网站不能也不会控制交易各方能否履行协议义务。</b>此外，您应注意到，与以欺诈手段行事的人进行交易的风险是客观存在的。您在使用本网站时，应小心谨慎并运用常识。<br>
        4、您在使用本网站服务的过程中，产生的应纳税费，以及一切硬件、软件、服务及其他的费用，均应由您独自承担。<br>

        <h2>四、服务使用规范</h2><br>
        1、本网站中的全部内容的版权均属于本网站所有,该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息(以下称“网站内容”)。本网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经本网站事先书面同意,您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容,包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于本网站的财产。未经本网站书面同意,您亦不得将本网站包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为,本网站将追究您的法律责任。<br>
        2、您承诺合法使用本网站提供的服务及网站内容。禁止在本网站从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用本网站的行为,如擅自进入本网站的未公开的系统、不正当的使用密码和网站的任何内容等，<b>禁止在本网站进行信用卡充值套现、洗钱、非法集资等违法行为，否则，您应依法对您在本网站的任何违法行为独立承担全部法律责任。</b>本网站一旦发现您在本网站有违法行为，有权采取包括但不限于下列措施：警告当事人停止犯法行为；冻结当事人在合拍的账户；向有关监管机构举报；向公安机关报案等。<br>
        3、您注册成功后,不得将本网站的用户名转让给第三方或者授权给第三方使用。<b>您确认,您用您的用户名和密码登陆本网站后在本网站的一切行为均代表您并由您承担相应的法律后果。</b><br>
        4、您承诺您使用本网站时提供的资料与信息，包括您在注册、发布信息或交易等过程中、在任何公开信息场合或通过任何电子邮件形式，向本网站或其他用户提供的任何资料与信息，包括数据、文本、软件、音乐、声响、照片、图画、影像、词句或其他材料，均真实、合法、安全、有效，不会侵犯任何第三方的合法权益，不会含有本网站认为应禁止或不适合通过本网站进行宣传、交易的内容。
        如您因网上交易与其他用户产生诉讼的,用户有权通过司法部门要求本网站提供相关资料。如因您提供的信息不准确、不真实、或不合法的，本网站保留中止您使用本网站各项服务的权利，同时您应赔偿因此而造成本网站及其它各方的一切损失。<br>
        5、您承诺不以虚构或歪曲事实的方式不当评价本网站其他会员，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高或降低其他会员的信用度，不采取其它不正当竞争行为扰乱本网站秩序。<br>
        6、您承诺不对本网站上的任何数据做商业性利用，商业利用的方式包括但不限于在未经本网站事先书面同意，以复制、传播等方式使用本网站上展示的各类资料。<br>
        7、经国家生效法律文书或行政处罚决定确认您存在违法行为,或者本网站有足够事实依据可以认定您存在违法或违反本服务协议的行为或违反您通过本网站签署的其它协议的行为的,本网站有权单方实施以下任一种或多种措施，无须征得您的同意或提前通知予您：<br>
        （1）在因特网络上公布您的违法、违约行为；<br>
        （2）将该内容记入任何与您相关的信用资料和档案或提供给人民银行征信机构等第三方信用管理机构；<br>
        （3）限制或者中/终止向您提供本网站服务；<br>
        （4）对于您发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，本网站有权不经通知您即予以删除，且按照协议及相关规则的约定进行处罚；<br>
        （5）本网站认为应当采取的其它措施。<br>
        8、对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保本网站免责。<br>

        <h2>五、特别授权</h2><br>

        <p>您完全理解并同意不可撤销地授予本网站及其关联公司下列权利：</p><br>
        1、对于您提供的资料及数据信息，您授予本网站及其关联公司独家的、全球通用的、永久的、免费的许可使用权利
        (并有权在多个层面对该权利进行再授权)，使本网站及其关联公司有权全部或部分地使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、交易行为数据及全部展示于本网站的各类信息）或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其他作品内。<br>
        2、当您违反本协议或与本网站签订的其他协议的约定，本网站有权以任何方式通知关联公司，要求其对您的权益采取限制措施包括要求关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。<br>
        3、您向本网站关联公司做出任何形式的承诺，且相关公司已确认您违反了该承诺，则本网站有权立即按您的承诺约定的方式对您的账户采取限制措施，包括但不限于中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，本网站无须就相关确认与您核对事实，或另行征得您的同意，且本网站无须就此限制措施或公示行为向您承担任何的责任。<br>

        <h2>六、涉及第三方网站</h2><br>
        本网站的网站内容可能涉及由第三方所有、控制或者运营的其他网站(以下称“第三方网站”)。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您确认按照第三方网站的服务协议使用第三方网站,而不是按照本协议。第三方网站不是本网站推荐或者介绍的,第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险,而与本网站无关。<br>

        <h2>七、不保证</h2><br>
        1、本网站提供的服务中不带有对本网站中的任何用户、任何交易的任何保证或条件,无论是明示、默示或法定的,因此本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员(以下称“本网站方”)不保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性,并且免除任何由此引起的法律责任。<br>
        2、本网站的合作单位提供的服务品质及内容由该合作单位自行负责。本网站不能保证合作单位提供的服务品质及内容，您应自行考量且自担风险接受和使用该合作单位提供的服务及内容。<br>
        3、您了解本网站上的信息由用户自行发布，且可能存在风险和瑕疵。本网站仅做作为信息展示与交易地点，无法控制网站上发布的项目的质量、安全或合法性，用户发布信息的真实性或准确性，以及交易各方履行其在交易协议中各项义务的能力。您应自行谨慎判断相关项目、信息的真实性、合法性和有效性，并自行承担因此产生的责任与风险。<br>

        <h2>八、责任限制</h2><br>

        <p>
            在任何情况下,本网站方对您使用本网站服务而产生的任何形式的直接或间接损失均不承担法律责任,包括但不限于资金损失、利润损失、营业中断损失等。因为本网站或者涉及的第三方网站的设备、系统存在缺陷或者因为计算机病毒造成的损失,本网站均不负责赔偿,您的补救措施只能是与本网站终止本协议并停止使用本网站。但是,中国现行法律、法规另有规定的除外。</p>
        <br>

        <h2>九、网站内容监测</h2><br>
        本网站没有义务监测网站内容,但是您确认并同意本网站有权不时地根据法律、法规、政府要求透露、修改或者删除必要的、合适的信息,以便更好地运营本网站并保护自身及本网站的其他合法用户。<br>

        <h2>十、隐私权</h2><br>
        本网站对于收集到的经认证的用户信息将按照本网站的隐私规则予以保护，隐私条款构成本协议的有效组成部分。<br>

        <h2>十一、赔偿</h2><br>
        由于您违反本协议及纳入本协议的条款和规则或您违反任何法律、法规或侵害第三方的权利而产生或引起的，任何第三方对本网站的母公司、子公司、关联公司、高级职员、董事、代理人和雇员提出的任何索赔、处罚要求等（包括律师费、司法费用、其它专业人士的费用等）,无论是已知或未知的,您必须对本网站和(如适用)本网站的母公司、子公司、关联公司、高级职员、董事、代理人和雇员进行全额赔偿并使其等免受任何损失/损害。<br>

        <h2>十二、终止</h2><br>
        除非本网站终止本协议或者您申请终止本协议且经本网站同意,否则本协议始终有效。<b>本网站有权在不通知您的情况下在任何时间终止本协议或者限制您使用本网站。</b><br>

        <h2>十三、适用法律和管辖</h2><br>
        本协议之效力、解释、变更、履行及争议解决均适用中华人民共和国大陆地区法律。<b>因本协议所引起的任何争议均由本网站住所地的人民法院管辖。</b><br>

        <h2>十四、送达</h2><br>
        本网站可以通过专人送递、邮寄、手机短信、合拍账户会员中心的通知、本网站公告等方式向注册会员送达依本协议做出的通知或文件。专人送递的，自交付时即视为送达。以快递或挂号信邮寄的，自快递或挂号信寄出之日起三日即视为送达。如以手机短信、或通过合拍账户会员中心的通知，或本网站公告的方式做出的，自发出或公布之日即视为送达。<br>

        <h2>十五、附加条款</h2><br>
        在本网站的某些部分或页面中可能存在除本协议以外的单独的附加服务条款,当这些条款存在冲突时,在该些部分和页面中附加条款优先适用。<br>

        <h2>十六、条款的独立性</h2>
        若本协议的部分条款被认定为无效或者无法实施时,本协议中的其他条款仍然有效。<br>

    </div>
</div>

{% end %}

{% block footer %}
<script>
    $(function () {
        $('.yuyuerg_tijiao').click(function () {
            var selected = $("#readme").attr("checked") == true;
            if (!$("#readme").attr("checked")) {
                alert("请同意创业孵化平台用户注册协议");
                return false;
            }
            else{
                $("#subscribe_interest_form").submit();
            }
        });

        $('#parkHatchBtn').click(function () {
            $('._alert').slideDown('fast');
        });

        $('#_cancel').click(function () {
            $('._alert').slideUp('fast');
        });
    });

    $(function () {
        var iv = $('.ideaSub32411');
        var pamount = $("#requirePay");
        var unit_price = $(".unit-price").text();
        var left_piece = parseInt($(".left-piece").text());
        iv.blur(function () {
            //var v = parseInt(iv.val());
            var v = +iv.val(),
                    n = /^\d+$/g;
            if (!(n.test(v))) {
                alert('请输入有效数字');
                iv.val(1);
                pamount.text(parseInt(unit_price));
            } else {
                if (v < 1) {
                    alert('至少认购1份！');
                    iv.val(1);
                    pamount.text(parseInt(unit_price));
                } else if (v > left_piece) {
                    alert('不能大于当前剩余份数！');
                    iv.val(left_piece);
                    pamount.text(left_piece * parseInt(unit_price));

                }
            }
        });

        $('.ideaSub32412').click(function () {
            var v = +iv.val();
            if (v <= 1) {
                alert('至少认购1份！');
            } else {
                iv.val(v - 1);
                pamount.text((v - 1) * parseInt(unit_price));
            }
        });

        $('.ideaSub32413').click(function () {
            var v = +iv.val();
            if (v >= left_piece) {
                alert('不能大于当前剩余份数！');
            } else {
                iv.val(v + 1);
                pamount.text((v + 1) * parseInt(unit_price));
            }
        });
    })
</script>

{% end %}
