{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
            <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
            已投详情

        </div>
		<div class="nbig_box yiotuxq">
		   <div class="huodong_box">
		    <img src="../static/imges/class_mihu.png">
		   </div>
		   
		  <div class="class_title">
		  	<p>棒球大赛</p>
		  	<p class="sm_jianjie">运动会</p>
		  </div>		  
		  <div class="class_avti">
		  	<span class="hudongfang">
		  		<p>发布人：maker</p>
		  		<br />
		  		<p>主办方：嘚瑟咖</p>
		  	</span>
		  	
		  	<div class="meony">
		  		<span class="meony_icon"></span>
		  		<span class="meony_nab">已投资金额2000万元</span>
		  	</div>
		  	
		  	</div>
            <table class="TheFinancingPlan">
        <tr>
            <td onclick="location='/mbPrFinancing'">融资计划</td>
            <td onclick="location='/mb_tuandui'">团队介绍</td>
            <td onclick="location='/mb_zhaopinjihua'">招聘计划</td>
        </tr>
        <tr>
            <td onclick="location='/mb_rufujihua'">入孵计划</td>
            <td onclick="location='/mb_dongtai'">项目动态</td>
            <td onclick="location='/mb_zhuanjiapinyu'">专家评语</td>
        </tr>
    </table>

		  	<div class="dabuxqin">
		   <div class="jindu">
			   				<span class="jd_wenzi">
			   					<a>项目进度：</a>
			   					<a class="baifen">80%</a>
			   				</span>
			   				<div class="jindutiao">
			   					<span class="jindutiao_gre"></span>
			   					<span class="jindutiao_bule"></span>
			   				</div>
			   			</div>
			  </div><!--dabuxqin-->
		  </div><!--class_avti-->
		  <div class="yaoqidabuxqin">
		  <p>项目简介</p>
		  <span>冬至（英语：winter solstice），又称“冬节”、“贺冬”，华夏二十四节气之一、八大天象类节气之一，与夏至相对。冬至在太阳到达黄经270°时开始，时于每年公历12月22日左右。据传，冬至在历史上的周代是新年元旦，曾经是个很热闹的日子。

冬至这天，太阳直射地面的位置到达一年的最南端，几乎直射南回归线（南纬23°26'）。这一天北半球得到的阳光最少，比南半球少了50%。北半球的白昼达到最短，且越往北白昼越短。

在中国有冬至吃饺子的风俗。俗话说：“冬至到，吃水饺。”当然也有例外，如在山东滕州流行冬至当天喝羊肉汤的习俗，寓意驱除寒冷之意。各地食俗不同，但吃水饺最为常见。在今天江南一带仍有：吃了冬至夜饭长一岁的说法，俗称“添岁”。</span>
			  </div><!--dabuxqin-->
		   <div class="class_maegin">
		   	
			<div class="class_time">
				<span class="class_timeicon"></span>
				<span class="class_timer">2015-11-22</span>
			</div>
			<div class="class_dizhi">
				<span class="class_dizhiicon"></span>
				<span class="class_dizhier">深圳市南山区智园c2栋</span>
			</div>
		</div><!--class_maegin-->

		 <div class="shenhe_zhaungtai_ren">
		 	<span>再投一点</span>
		 </div> 
	
		   
		</div><!--big_class-->
		
			
{% end %}

{% block footer %}

{% end %}
