{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
 <div class="mbProjectMoreTitle">
     <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
邮箱认证

        </div>
		<div class="nbig_box" >
			
		   <div class="xmliche_a">
		   	  <span class="xmwz_biao">
		   	  	<p>邮箱地址</p>
		   	    <input type="text" />
		   	  </span>	   			   	  	   	  		   	  	
		   	 <div class="xiayibu xiayibuA">发送验证</div>
		   	 
		     
		   </div>
		   
		</div><!--nbig_box-->
		
{% end %}

{%block footer%}

{%end%}



