{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div class="mbProjectMoreTitle">
            <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
            活动详情

        </div>
		<div class="nbig_box">
		   <div class="huodong_box">
		    <img src="../static/imges/class_mihu.png">
		   </div>
		   
		  <div class="class_title">
		  	<p>中国私人投资交流峰会</p>
		  	<p class="sm_jianjie">融资分享会</p>
		  </div>
		  <div class="huodong_touxi">
		  	<span class="huodong_touxi_ren"></span>
		  	<div class="jizhong">
		  	<a class="huodong_touxi_sixin">私信</a>
		  	<a class="huodong_touxi_guanzhu ">关注</a>
		  	</div>
		  </div><!--huodong_touxi-->
		  
		  <div class="class_avti">
		  	<span class="hudongfang">
		  		<p>发布人：maker</p>
		  		<br />
		  		<p>主办方：嘚瑟咖</p>
		  	</span>
		  	<div class="meony">
		  		<span class="meony_icon"></span>
		  		<span class="meony_nab">200起</span>
		  	</div>
		  	<div class="people">
		  		<span class="people_icon"></span>
		  		<span class="people_nab">人数10</span>
		  	</span>
		  	</div>
		  </div><!--class_avti-->
		
		   <div class="class_maegin">
			<div class="class_time">
				<span class="class_timeicon"></span>
				<span class="class_timer">2015-11-22</span>
			</div>
			<div class="class_dizhi">
				<span class="class_dizhiicon"></span>
				<span class="class_dizhier">深圳市南山区智园c2栋</span>
			</div>
		</div><!--class_maegin-->
		    <div class="hd_xiangqing">
		   	<img src="../static/imges/huoxian.png">
		   	<span>
		   		<p>现场布置：</p>
		   		这次活动我们邀请了一个神秘嘉宾为大家讲解一下现在股市风云中的一些比较自身的知识，目的就是为了让大家在此刻的股市背景下活得更加精彩，让生活更加美满。
		   	</span>
		   </div>
		   <div class="baoming">
		   	<a>已报名</a>
		   </div>
		   
		</div><!--big_class-->
{% end %}
{%block footer%}

{%end%}



