{% extends 'mbBase.html' %}
{% block page_title %}项目|创业孵化平台{% end %}
{% block content %}
<div class="mbProjectMoreTitle">
    <a href="javascript:history.back(-1);" class="mbPrMoreBackBtn"></a>
    注册
</div>
<div class="nbig_box zuce_box">
    <div class="xmliche_a">
		<span class="xmwz_biao">
			<p>用户名称</p>
			<input type="text" id="username" name="username" placeholder="4-16位字符，字母/中文/数字/下划线"/>
		</span>
		<span class="xmwz_biao">
			<p>密码</p>
			<input type="password" id="pwd" name="pwd" placeholder="6-20位字符，字母与数字组合"/>
		</span>
		<span class="xmwz_biao">
			<p>确认密码</p>
			<input type="password" id="pwd2" name="pwd2" placeholder="请再次输入密码"/>
		</span>
		<span class="xmwz_biao">
			<div class="demo-box">
                <table class="demo-table">
                    <tr>
                        <td class="biaoqiank">身份</td>
                        <td>
                            <select class="ui-select" id="sel_01" name="role">
                                <option value="0">普通用户</option>
                                <option value="1">创客</option>
                                <option value="2">投资人</option>
                                <option value="3">评审</option>
                                <option value="5">孵化器</option>
                                <option value="4">技术团队</option>
                                <option value="6">其它</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
		</span>
		<span class="xmwz_biao">
			<p>邮箱</p>
			<input input type="text" id="email" name="email" placeholder="输入你的邮箱"/>
		</span>
		<span class="xmwz_biao">
			<p>手机号码</p>
			<input type="text" id="phone" name="phone" maxlength="11" placeholder="请输入您的手机号完成验证"/>
		</span>
		<span class="xmwz_biao zhuce_b">
			<p>短信验证</p>
			<input class="duanxin" type="text" placeholder="" name='msgcode' id="msgcode"/>
			<input class="fasongduanxin" id="btnSendCode" type="button" value="发送短信"/>
		</span>

        <div class="xiayibu" href="javascript:;" onclick="postmessage()" id="register" id="checkbox">确认注册</div>
		<span class="xmwz_biao xieyi">
			<input type="checkbox" checked="checked" name="readme"/>
			<p><a href="javascript:;" id="parkHatchBtn">我已阅读并同意 《创业孵化平台用户注册协议》</a></p>
		</span>
    </div>
</div><!--nbig_box-->
<div class="_alert" style="display: none;">
    <div class="parkHatchTitle" style="position: relative">
         <h1">创业孵化平台用户注册协议</h1>
        <a href="javascript:;" style="position: absolute;top:4px;right: 10px;font-size: 25px;" id="_cancel">×</a>
    </div>
    <div style="overflow-x: hidden;overflow-y: scroll;height: 90%;border-top: 1px solid #ededed;">

        <p>&nbsp;</p>

        <p>双创学院众筹平台是一个实现梦想的平台，发起人可以在双创学院众筹平台上发起创新项目的筹款需求，并承诺提供不同形式的回报给支持创新项目的支持者。为保护支持者的合法权益，规范发起人的行为，维护众筹平台秩序，特拟定本协议。</p>

        <h2><b>第一条 协议内容及签署</b></h2>

        <p>1.1
            本协议构成您与创业孵化平台站（包括但不限于www.vclution.cn及双创学院众筹平台等）就网站使用服务所达成的协议。当您完成注册并在本服务协议前方“□”打√时，即表示您认可协议条款和条件，已同意受人人投网站网站服务协议约束，包括但不限于本协议及所有人人投网站已经发布的或将来可能发布的各类规则等。如果您不同意本协议，请不要在“□”打√，同时您将无权使用创业孵化平台站的服务。</p>

        <p>1.2
            您应当在使用创业孵化平台站服务之前认真阅读全部协议内容。如您对协议有任何疑问的，可向创业孵化平台站咨询。但无论您事实上是否在使用创业孵化平台站服务之前认真阅读了本协议内容，只要您使用创业孵化平台站服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得双创学院对您问询的解答等理由，主张本协议无效或要求撤销本协议。</p>

        <p>1.3
            创业孵化平台站有权根据需要不时地制订、修改本协议或各类规则，并以网站公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在网站公布后，即时生效。如您不同意相关变更，应当立即停止使用创业孵化平台站服务。如果您继续使用创业孵化平台站服务，即表示您接受经修订的协议和规则</p>

        <p>1.4 创业孵化平台站提供的网络服务的所有权和最终解释权归深圳市得瑟文化传媒有限公司所有。本协议中，被许可使用创业孵化平台站服务的注册会员均简称为“注册会员”。</p>

        <p>&nbsp;</p>

        <h2><b>第二条 服务内容</b></h2>

        <p>2.1 注册会员可以在网站上浏览公告、项目介绍、项目评论等网站开放信息，经过网站审核的认证投资人还可以查看项目内容页的详细信息、评论项目并进行在线投资</p>

        <p>2.2 注册会员有权在指定板块发布符合创业孵化平台站要求的信息。</p>

        <p>2.3 创业孵化平台站运用自己的操作系统通过互联网使得注册会员可以在创业孵化平台站上成功发布信息。</p>

        <p>&nbsp;</p>

        <h2><b>第三条 注册会员的权利与义务</b></h2>

        <p>3.1 注册会员有权在创业孵化平台站的指定版块发布符合规定的信息。</p>

        <p>3.2 注册会员有义务确保其发布、评论的信息符合中华人民共和国的法律法规及创业孵化平台站的相关规则的要求。</p>

        <p>3.3 注册会员有义务保证其向创业孵化平台站提交及发布的信息是真实有效的，并将承担由于发布错误信息而造成的损失。</p>

        <p>3.4 除非取得创业孵化平台站的事先书面同意。注册会员不得将其在本协议项下享有的权利与义务转让给任何第三方。</p>

        <p>&nbsp;</p>

        <h2><b>第四条 创业孵化平台站的权利和义务</b></h2>

        <p>4.1 创业孵化平台站将对每一个申请成为认证投资人的注册会员进行审核，并且有权拒绝注册会员申请成为认证投资人或者发布项目的要求。</p>

        <p>4.2 创业孵化平台站会竭力确保特定信息（比如项目内容页的详细信息）只对有查看权限的注册会员开放。</p>

        <p>&nbsp;</p>

        <h2><b>第五条 免责声明</b></h2>

        <p>5.1 创业孵化平台站仅为注册会员提供网络空间及技术服务，我们并不能完全确保注册会员提交的信息是完全无误的。</p>

        <p>5.2 如因创业孵化平台站系统维护或升级而需暂停服务时，将事先公告。若因线路故障及非本公司控制范围内的其他硬件故障或其它不可抗力而导致暂停服务，那么暂停服务期间造成的一切不便与损失，本网站不负任何责任。</p>

        <p>5.3 双创学院业务系统因下列状况无法正常运作，使您无法使用各项服务时，双创学院不承担损害赔偿责任，该状况包括但不限于：</p>

        <p>5.3.1 双创学院在门户网站公告之系统停机维护期间；</p>

        <p>5.3.2 服务器、电信设备、线路等硬件设施出现故障导致交易数据不能正常产生、传输；</p>

        <p>5.3.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力事件，导致双创学院系统障碍不能正常为您提供服务；</p>

        <p>5.3.4 由于黑客攻击、电力系统问题、电信部门技术调整等其他方非因双创学院自身所能控制原因而造成的服务中断或者延迟。</p>

        <p>5.4 本协议未涉及的问题参见国家有关法律法规，当本协议与国家法律法规冲突时，以国家法律法规为准。</p>

        <p>&nbsp;</p>

        <h2><b>第六条 隐私权政策及安全</b></h2>

        <p>6.1
            创业孵化平台站尊重并保护所有注册会员的个人隐私权。为了给您提供更准确、更有个性化的服务，创业孵化平台站会按照本隐私权政策的规定使用和披露您的个人信息。但我们将以高度审慎的态度对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，创业孵化平台站不会将这些信息对外披露或向第三方提供。但以下状况除外：</p>

        <p>6.1.1 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>

        <p>6.1.2 如您出现违反中国有关法律、法规或相关规则的情况，需要向第三方披露；</p>

        <p>6.2 创业孵化平台站会不时更新本隐私权政策。</p>

        <p>6.3 为了更好地服务注册会员，创业孵化平台站可能通过使用您的个人信息，向您提供您感兴趣的信息。</p>

        <p>6.4 创业孵化平台站通过对注册会员登录密码进行加密等安全措施确保注册会员的隐私安全。</p>

        <p>&nbsp;</p>

        <h2><b>第七条 知识产权</b></h2>

        <p>7.1 注册会员的上传行为代表着注册会员或其代表的公司授权创业孵化平台站对上传的信息享有不可撤销的永久的使用权和收益权，但注册会员或其代表的公司仍保有上传信息的所属权。</p>

        <p>7.2 注册会员有义务确保其发布的信息不侵犯任何第三方知识产权及其他权利，否则由此给第三方及创业孵化平台站造成的损失将由注册会员承担。</p>

        <p>&nbsp;</p>

        <h2><b>第八条 法律适用及争议解决</b></h2>

        <p>8.1 本协议签署、效力、解释和执行以及争议之解决均应适用中国法律。</p>

        <p>8.2 对本协议任何条款的执行或解释所引起的任何争议，创业孵化平台站和注册会员应尽最大努力友好协商解决；协商不成的，双方均可向创业孵化平台站所在地的人民法院起诉</p>

        <p>&nbsp;</p>

        <h2><b>第九条 有效期及其他</b></h2>

        <p>9.1 本协议有效期自注册会员点击同意之日起至注册会员注销账号之日止。</p>

        <p>9.2 如本协议的任何条款被视作无效或无法执行，不影响其余条款的效力。</p>

        <p>9.3 本协议标题是为了方便阅读所设，并非是对条款的定义、限制和解释。</p>

    </div>
</div>
<script type="text/javascript">
    var data = {};

    //发送验证码
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    $(".fasongduanxin").click(function () {
        var mobile_number = $("#phone").val();
        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!myreg.test(mobile_number)) {
            alert("手机号码格式不对");
            return false;
        }
        else {

            curCount = count;
            //设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").val(curCount + "s");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            //向后台发送处理数据
            data['mobile_number'] = mobile_number;
            $.ajax({
                type: 'get',
                url: '/smscode',
                data: data,
                success: function (data) {
                    var json=jQuery.parseJSON(data);
                    if(json['error']!=''){
                        alert(json['msg']);
                        return false;
                    }
                }
            });
        }
    });
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").val("重新发送验证码");
        }
        else {
            curCount--;
            $("#btnSendCode").val(curCount + "s");
        }
    }

    //提交注册
    function postmessage() {
        var selected = $("input[name='readme']").attr("checked") == true;
        if (!$("input[name='readme']").attr("checked")) {
            alert("请同意创业孵化平台用户注册协议");
            return false;
        }
        var data = {
            "username": $("#username").val(),
            "pwd": $("#pwd").val(),
            "pwd2": $("#pwd2").val(),
            "role": $('select[name="role"]').val(),
            "email": $("#email").val(),
            "phone": $("#phone").val(),
            "msgcode": $("#msgcode").val(),
            "type": 1
        };
        if (data['username'] == '' || data['pwd'] == '' || (data['pwd']!=data['pwd2'])) {
            alert("信息填写有误");
            return false;
        }
        jQuery.ajax({
            url: "/register",
            type: "post",
            data: data,
            success: function (msg) {
                var jsons = jQuery.parseJSON(msg);
                if (jsons.msg == "ok") {
                    //注册环信新用户
                    // emchat_regist();
                    window.location.href = '/mobile/login'
                }
                else {
                    alert(jsons.msg);
                }
            }

        })

    }
    var emchat_regist = function () {
        var user = $("#username").val();
        var pass = $("#pwd").val();
        var nickname = $("#username").val();
        if (user == '' || pass == '' || nickname == '') {
            alert("用户名/密码/昵称 不能为空");
            return;
        }
        var options = {
            username: user,
            password: pass,
            nickname: nickname,
            appKey: Easemob.im.config.appkey,
            success: function (result) {
                window.location.href = '/login'
            },
            error: function (e) {
                alert(e.error);
            },
            apiUrl: Easemob.im.config.apiURL
        };
        Easemob.im.Helper.registerUser(options);
    };

    $(function () {
        $('#parkHatchBtn').click(function () {
            $('body').css('overflow', 'hidden');
            $('._mask').fadeIn('fast');
            $('._alert').slideDown('fast');
        });

        $('#_cancel').click(function () {
            $('body').css('overflow', 'auto');
            $('._mask').fadeOut('fast');
            $('._alert').slideUp('fast');
        });
    });
    $(function () {
        $('#parkHatchBtn').click(function () {
            $('._alert').slideDown('fast');
        });

        $('#_cancel').click(function () {
            $('._alert').slideUp('fast');
        });
    });
</script>
{% end %}
{% block footer %}
{% end %}

