<div class="mbFooterDiv">
    <a href="/mobile/information" class="park">资讯</a>
    <a href="/mobile/course" class="course">视频</a>
    <a href="/mobile/projectmore" class="project">项目</a>
    <a href="/mobile/activity" class="activity">活动</a>
    <a href="/mobile/home" class="my">我的</a>
</div>
<script>
    /*
    $(window).scroll(function () {
        var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
        if(scrollBottom <100){
                $(".mbFooterDiv").addClass('mbFooterDivAnimateHide');
        } else{
                $(".mbFooterDiv").removeClass('mbFooterDivAnimateHide');
        }
    });
    */
</script>