{% extends "base.html" %}
{% block title %}公告管理{% end %}
{% block content %}
<script type="text/javascript" src="{{ static_url('plupload/js/plupload.full.min.js') }}"></script>

<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="wrapper">
    {% include 'admin_nav.html' %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            {% include 'header_nav.html' %}
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>公告管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin/home">主页</a>
                    </li>
                    <li>
                        <a>公告管理</a>
                    </li>
                    <li>
                        <strong>公告列表</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>公告列表
                                <small>共计：{{ notices.count() }}条</small>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">选项1</a>
                                    </li>
                                    <li><a href="#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <style>
                                th:first-child,
                                .gradeX td:first-child {
                                    width: 20px;
                                    cursor: pointer;
                                }

                                th:first-child input,
                                .gradeX td:first-child input {
                                    cursor: pointer;
                                }
                            </style>

                            <form action="javascript:;" method="post" name="login_form" id="login_form">
                                {% module xsrf_form_html() %}
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="i-checks" id="userListCheck"/></th>
                                        <th>记录编号</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>发布人</th>
                                        <th>发布时间</th>
                                        <th>删除</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in notices %}
                                    <tr class="gradeX">
                                        <td><input type="checkbox" class="i-checks"></td>
                                        <td class="userListId">{{ c.get('_id') }}</td>
                                        <td><a href="/admin/notice/{{ c.get('_id') }}">{{ c.get('title','') }}</a></td>
                                        <td>{{ c.get('content',"") }}</td>
                                        <td>{{ c.get('userid',"") }}</td>
                                        <td>{{ c.get('atime','') }}</td>
                                        <td><a  onclick="deltr('{{ c.get('_id') }}',this)">删除</a></td>
                                    </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                <input type="submit" class="btn btn-w-m btn-primary delete1" value="删除选中"
                                       data-toggle="modal" data-target="#myModal5"/>
                                <input type="submit" class="btn new_btn-w-m btn-primary audit1" value="添加公告"
                                       data-toggle="modal" data-target="#myModal4"/>


                                <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">删除公告</h4>
                                                {#  <small class="font-bold">这里可以显示副标题。</small>#}
                                            </div>
                                            <div class="modal-body">
                                                <p class="ideaId"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white deleteSpecial"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal4" tabindex="-1" role="dialog"
                                     aria-hidden="true">

                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">新增公告</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p id="audit2Content">
                                                    <label>公告标题：</label>
                                                    <input class="form-control" placeholder="不多于32个字" name="title" id="title"/>

                                                    <label>公告内容：</label>
                                                    <textarea class="form-control" id="content" name="content" cols=80 rows=10 placeholder="不多于256个字"></textarea>

                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white add_notice"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary cancel1"
                                                        data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal3" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">设为推荐banner</h4>
                                                {#  <small class="font-bold">这里可以显示副标题。</small>#}
                                            </div>
                                            <div class="modal-body">
                                                <p class="ideaId"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white bannerSpecial"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>


<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }
    $(function () {
        var json1 = _alert('.btn.btn-w-m.delete1', '.modal-body .ideaId', '您要删除的公告ID为');
        var json2 = _alert('.btn.btn-w-m.audit1', '.modal-body #audit1Content', '将要审核通过的公告ID为');
        var json3 = _alert('.btn.btn-w-m.banner1', '.modal-body .ideaId', '您要设置为推荐banner的公告ID为');
        json1['_xsrf'] = getCookie("_xsrf");
        json2['_xsrf'] = getCookie("_xsrf");
        json3['_xsrf'] = getCookie("_xsrf");
        $('.btn.btn-white.deleteSpecial').click(function () {
            $.ajax({
                url: '/admin/notice/delete',
                type: 'post',
                data: json1,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    //  alert('error');
                }
            });
        });

        $('.btn.btn-white.add_notice').click(function () {
            var json = {
                '_xsrf': $("input[name='_xsrf']").val(),
                'title':$("#title").val(),
                'content':$("#content").val(),
            };

            if(json["title"] == "")
            {
                alert("公告标题不能为空！");
                return false;
            }

            if(json["content"] == "")
            {
                alert("公告内容不能为空！");
                return false;
            }

            $.ajax({
                url: '/admin/notice/add',
                type: 'post',
                data: json,
                success: function (data) {
                   var jsons = jQuery.parseJSON(data);
                    if (jsons.status == "ok") {
                        location.reload();
                    }
                    else{
                        alert(jsons.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
        });

        $('.btn.btn-white.bannerSpecial').click(function () {
            $.ajax({
                url: '/admin/notice/banner',
                type: 'post',
                data: json3,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    alert('error');
                }
            });
        });

    });
    function deltr(id,row){
        var json1 = {};
        json1['_xsrf'] = getCookie("_xsrf");
        json1['id'] = id;
        $.ajax({
            url: '/admin/notice/delete',
            type: 'post',
            data: json1,
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert('error');
            }
        });

        $(row).parent().parent().remove();
    }


    $(function () {
        var uploader = new plupload.Uploader({
            browse_button: 'index_image',
            url: "/ajax/upload_image?path=notice",

            filters: {
              max_file_size : '4mb',
              prevent_duplicates : true,
            },
            multipart_params: {
                '_xsrf': $("input[name='_xsrf']").val()
            }
        });

        uploader.init();

        // 文件添加后立即上传
        uploader.bind('FilesAdded', function (up, files) {

            plupload.each(files, function (file) {
                uploader.start();
            });
        });

        // 上传资讯图片
        uploader.bind('FileUploaded', function (up, file, info) {
            var base = '/static/media/notice/';
            var response = $.parseJSON(info.response);
            if (response.status == 'ok') {
                $("#sample").show().attr("src", base + response.name);
                $("#image_url").val(response.name);
            }
            else {
                alert(response.error);
            }
        });

        uploader.bind('Error', function (up, errObject) {
            alert(errObject.code+errObject.message);
        });
    });
</script>
{% end %}