{% extends "base.html" %}
{% block title %}项目编辑{% end %}
{% block content %}
<script type="text/javascript" src="{{ static_url('kindeditor-4.1.10/kindeditor-min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('kindeditor-4.1.10/lang/zh_CN.js') }}"></script>
<script type="text/javascript">
    KindEditor.ready(function (K) {
        window.editor = K.create('#desc', {
            allowFileManager: true,
            width: '700px',
            height: '400px',
            resizeType: 0,       //2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。
            uploadJson : K.undef('/kindeditor_upload_json'),
            extraFileUploadParams : {
                _xsrf:getCookie("_xsrf")
            },
            afterFocus: function () {
            },
            afterBlur: function () {
                if (editor.html() == '') {
                    $('p.desc_tip').html('项目详情不能为空！');
                } else {
                    $('p.textarea').html('');
                }
            }
        });
    });
</script>
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="wrapper">
    {% include 'admin_nav.html' %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            {% include 'header_nav.html' %}
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>项目编辑</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin/home">主页</a>
                    </li>
                    <li>
                        <a href="/admin/projects">项目管理</a>
                    </li>
                    <li>
                        <strong>{{ project.get('name') }}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>基本
                                <small>分类，查找</small>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">选项1</a>
                                    </li>
                                    <li><a href="#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <style>
                                th:first-child,
                                .gradeX td:first-child {
                                    width: 20px;
                                    cursor: pointer;
                                }

                                th:first-child input,
                                .gradeX td:first-child input {
                                    cursor: pointer;
                                }
                            </style>

                            <form method="post" id="project_setting_form" class="form-horizontal">
                                {% module xsrf_form_html() %}
                                <input name="id" type="hidden" value="{{ project_id }}">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">名称</label>

                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="不多于25个字" name="name"
                                               value="{{ project.get('name','') }}" id="name">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目简介</label>

                                    <div class="col-sm-10">
                                        <textarea type="text" name="brief" class="form-control"> </textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图片：</label>
                                    {% set image_url="/static/media/project_img/"+project.get('image','') %}

                                    <div class="col-sm-9">
                                        <img src="{{ image_url }}"
                                             style="margin-top: 10px;max-width: 400px;width: 100%;"
                                             class=" {% if not project.get('image','') %}hide{% end %} imageview">
                                        <input type="file" name="" class="form-control " id="index_image">
                                    </div>
                                    <input type="text" name="image" id="image_url" style="display: none">
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目详情：</label>


                                    <div class="col-sm-9">
                                         <textarea id="desc" style="width:700px;height:300px;" name="desc"
                                                   class="form-control">
                                            {{ project.get('desc','') }}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <a class="btn btn-primary project-fabu" type="submit">保存内容</a>
                                        <button class="btn btn-white" type="submit">取消</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ static_url('plupload/js/plupload.full.min.js') }}"></script>
<script type="text/javascript">
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $(function () {
        var uploader = new plupload.Uploader({
            browse_button: 'index_image',
            url: "/ajax/upload_image?path=project_img",
            multipart_params: {
                '_xsrf': $("input[name='_xsrf']").val()
            }
        });

        uploader.init();

        // 文件添加后立即上传
        uploader.bind('FilesAdded', function (up, files) {
            plupload.each(files, function (file) {
                uploader.start();
            });
        });

        // 上传项目图片
        uploader.bind('FileUploaded', function (up, file, info) {
            var base = '/static/media/project_img/';
            var response = $.parseJSON(info.response);
            if (response.status == 'ok') {
                $(".imageview").removeClass("hide").attr("src", base + response.name);
                $("#image_url").val(response.name);
            } else {
                $('.upload-error-info').text(response.error);
            }
        });

        {#        runYanZhen($(".project-fabu"), {#}
        {#            'name': $("input[name='name']"),#}
        {#            'brief': $("textarea[name='brief']")#}
        {#        });#}

    })
    $(".project-fabu").click(function () {
        editor.sync();
        $("#project_setting_form").submit();

    });
</script>
{% end %}