<div class="fbdcy item0 jhclick account1" onclick="location='/user/profile'">社交名片</div>
<div class="fbdcy item1 pldcy account1" onclick="location='/user/resume'">个人简历</div>
<div class="fbdcy item2 pldcy account2" onclick="location='/user/settings'">安全设置</div>
{#<div class="fbdcy item3 pldcy account3" onclick="location='/user/sns-bind'">账号绑定</div>#}
<div class="fbdcy item1 pldcy account1" onclick="location='/user/consume'">消费明细</div>
<div class="fbdcy item1 pldcy account1" onclick="location='/user/fund'">账户资金</div>
<div class="fbdcy item4 pldcy account4" onclick="location='/user/logininfo'">登录记录</div>
<style>
    .fbdcy{
        cursor: pointer;
    }
</style>
