<div style="box-shadow: rgb(227, 225, 226) 0px 3px 5px; font-size: 20px; height: 50px; color: rgb(255, 255, 255); line-height: 50px; padding-left: 15px; margin-bottom: 0px; background: rgb(29, 117, 214);">
    蝌蚪网
</div>

<div style="padding: 15px 15px 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
    <span style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px;">亲爱的 </span><font color="#ff0000" style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px;">%name%</font><span
        style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px;">,</span>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; padding-top: 13px;">
         请点击下列链接完成邮箱验证：
    </div>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; padding: 15px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <font style="color: red;"><a
            href="http://sendcloud_track.sendcloud1.easemob.com/track/click/eyJ1c2VyX2lkIjogMjk1MjksICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNDMwMzc3NDA1ODM2XzI5NTI5XzEzMzkwXzI5Nzkuc2MtMTBfMTBfMTI3XzIyLWluYm91bmQwJDI5NTE2NDc0NUBxcS5jb20iLCAic2lnbiI6ICIzYWM1MDA3YjRiZWNmYTYzYmY3NTQ4MmQ3ZmU0MDI4MyIsICJsYWJlbCI6IDAsICJsaW5rIjogImh0dHBzJTNBLy9hMS5lYXNlbW9iLmNvbS9tYW5hZ2VtZW50L3VzZXJzL2ZmMTIyOTJhLWVmMDYtMTFlNC05YzE2LTA5NDI5ZmU2MTNkYi9jb25maXJtJTNGdG9rZW4lM0RaVzB0X3hmUl91OEdFZVNPVUxYMVUyOFBjU3ZzWWxLQ0ZWNVRXa1VoTF9LNU1jeDQ1dlNvIiwgImNhdGVnb3J5X2lkIjogNjgzNzN9.html"
            target="_blank">https://www.vchits.com/user/mail_update?user_id=%user_id%&amp;token=</a></font><a
            href="http://sendcloud_track.sendcloud1.easemob.com/track/click/eyJ1c2VyX2lkIjogMjk1MjksICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNDMwMzc3NDA1ODM2XzI5NTI5XzEzMzkwXzI5Nzkuc2MtMTBfMTBfMTI3XzIyLWluYm91bmQwJDI5NTE2NDc0NUBxcS5jb20iLCAic2lnbiI6ICIzYWM1MDA3YjRiZWNmYTYzYmY3NTQ4MmQ3ZmU0MDI4MyIsICJsYWJlbCI6IDAsICJsaW5rIjogImh0dHBzJTNBLy9hMS5lYXNlbW9iLmNvbS9tYW5hZ2VtZW50L3VzZXJzL2ZmMTIyOTJhLWVmMDYtMTFlNC05YzE2LTA5NDI5ZmU2MTNkYi9jb25maXJtJTNGdG9rZW4lM0RaVzB0X3hmUl91OEdFZVNPVUxYMVUyOFBjU3ZzWWxLQ0ZWNVRXa1VoTF9LNU1jeDQ1dlNvIiwgImNhdGVnb3J5X2lkIjogNjgzNzN9.html"
            style="line-height: 25.6px;" target="_blank">%</a><font style="color: red;">token%</font></div>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; padding: 15px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        (如果以上链接无法点击，请将地址手工复制到浏览器地址栏中访问)
    </div>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; padding: 15px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        &nbsp;&nbsp; 为了保障您帐号的安全性，请在48小时内完成激活，此链接将在您激活过一次后失效！
    </div>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; padding: 15px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        蝌蚪网团队<br/>
        蝌蚪网&nbsp;<a
            href="#"
            target="_blank">www.vchits.com</a></div>

    <div style="font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25.6px; height: 2px; background: rgb(244, 244, 244);">
        &nbsp;</div>
</div>
